In [4]:
import pandas as pd
data=pd.read_csv("/content/demo.csv")
data.head()
data.describe()

,Emp ID,Age in Yrs.,Weight in Kgs.,Year of Joining,Month of Joining,Day of Joining,Age in Company (Years),Salary,Zip
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,549097.583000,40.377250,59.409000,2006.992000,6.415000,16.481000,10.093720,120288.528000,48698.499000
std,264810.879315,11.107729,13.900322,8.565588,3.428488,8.831514,8.568863,45178.339916,27396.021481
min,114425.000000,21.040000,40.000000,1980.000000,1.000000,1.000000,0.000000,40040.000000,1002.000000
25%,307757.000000,30.925000,49.000000,2002.000000,4.000000,9.000000,3.152500,82122.000000,25421.750000
50%,543073.000000,40.730000,57.000000,2009.000000,6.000000,17.000000,7.815000,119409.000000,47416.500000
75%,788450.250000,49.852500,68.000000,2014.000000,10.000000,24.000000,15.465000,159109.000000,71101.000000
max,999475.000000,59.980000,90.000000,2017.000000,12.000000,31.000000,37.570000,199943.000000,99791.000000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 37 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Emp ID                  1000 non-null   int64
 1   Name Prefix             1000 non-null   object
 2   First Name              1000 non-null   object
 3   Middle Initial          1000 non-null   object
 4   Last Name               1000 non-null   object
 5   Gender                  1000 non-null   object
 6   E Mail                  1000 non-null   object
 7   Father's Name           1000 non-null   object
 8   Mother's Name           1000 non-null   object
 9   Mother's Maiden Name    1000 non-null   object
 10  Date of Birth           1000 non-null   object
 11  Time of Birth           1000 non-null   object
 12  Age in Yrs.             1000 non-null   float64
 13  Weight in Kgs.          1000 non-null   int64
 14  Date of Joining         1000 non-null   object
 15  Quarter of Joining      1000 non-null   object
 16  Half of Joining         1000 non-null   object
 17  Year of Joining         1000 non-null   int64
 18  Month of Joining        1000 non-null   int64
 19  Month Name of Joining   1000 non-null   object
 20  Short Month             1000 non-null   object
 21  Day of Joining          1000 non-null   int64
 22  DOW of Joining          1000 non-null   object
 23  Short DOW               1000 non-null   object
 24  Age in Company (Years)  1000 non-null   float64
 25  Salary                  1000 non-null   int64
 26  Last % Hike             1000 non-null   object
 27  SSN                     1000 non-null   object
 28  Phone No.               1000 non-null   object
 29  Place Name              1000 non-null   object
 30  County                  1000 non-null   object
 31  City                    1000 non-null   object
 32  State                   1000 non-null   object
 33  Zip                     1000 non-null   int64
 34  Region                  1000 non-null   object
 35  User Name               1000 non-null   object
 36  Password                1000 non-null   object
dtypes: float64(2), int64(7), object(28)
memory usage: 289.2+ KB

In [204]:
g=data.groupby("Month of Joining").count().reset_index("Month of Joining").max()

In [205]:
g

Month of Joining           12
Emp ID                    107
Name Prefix               107
First Name                107
Middle Initial            107
Last Name                 107
Gender                    107
E Mail                    107
Father's Name             107
Mother's Name             107
Mother's Maiden Name      107
Date of Birth             107
Time of Birth             107
Age in Yrs.               107
Weight in Kgs.            107
Date of Joining           107
Quarter of Joining        107
Half of Joining           107
Year of Joining           107
Month Name of Joining     107
Short Month               107
Day of Joining            107
DOW of Joining            107
Short DOW                 107
Age in Company (Years)    107
Salary                    107
Last % Hike               107
SSN                       107
Phone No.                 107
Place Name                107
County                    107
City                      107
State                     107
Zip                       107
Region                    107
User Name                 107
Password                  107
dtype: int64

In [194]:
g1=data.groupby("State")["Salary"].mean().reset_index("State")

In [196]:
g1[g1['State']=="KS"]

   State         Salary
15    KS  104225.454545

In [192]:
g2=data.groupby("Region")["Salary"].mean().reset_index("Region")

In [193]:
g2.max()

Region             West
Salary    122633.645614
dtype: object

In [190]:
g3=data.groupby("Region")["Salary"].mean().reset_index("Region")

In [191]:
g3.min()

Region          Midwest
Salary    118910.197531
dtype: object

In [74]:
g3=data.groupby("City")["Weight in Kgs."].mean().reset_index("City")

In [76]:
g3.max()

City              Zephyrhills
Weight in Kgs.           90.0
dtype: object

In [97]:
g4=data.groupby("Name Prefix")["Salary"].mean().reset_index("Name Prefix")

In [98]:
g4

  Name Prefix         Salary
0         Dr.  116286.109375
1        Drs.  124414.810345
2        Hon.  125026.056180
3         Mr.  122246.616715
4        Mrs.  116357.633540
5         Ms.  117705.770925
6       Prof.  122786.555556

In [89]:
g5=g4.loc[(g4["Name Prefix"]=="Dr.")|(g4["Name Prefix"]=="Drs.")].mean()

<ipython-input-89-e1ddd93baa5e>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  g5=g4.loc[(g4["Name Prefix"]=="Dr.")|(g4["Name Prefix"]=="Drs.")].mean()

In [103]:
print("difference salary" ,g5["Salary"]-g4.loc[(g4["Name Prefix"]=="Prof.")]["Salary"])

difference salary 6   -2436.095696
Name: Salary, dtype: float64

In [122]:
g6=data.groupby("E Mail")

In [171]:
data_male=data[data["Gender"]=="M"]
g8=data["Age in Yrs."].idxmin()
do=data.iloc[g8]
do["Password"]

'xPr\\aGPTQ#v'

In [175]:
doctors= data[(data["Name Prefix"]=='Dr.') |( data["Name Prefix"]=='Drs.')]

In [177]:
import regex as re

In [186]:
str="gmail.com"
do=doctors[doctors["E Mail"].str.contains(str)]
do["E Mail"].count()

42

In [188]:
Females= data[(data["Gender"]=='F')]

In [189]:
str="yahoo.com"
FE=Females[Females["E Mail"].str.contains(str)]
FE["E Mail"].count()

47