In [ ]:
matrix=[[1,2,3],
        [4,5,6]
        ,[7,8,9]]
for v in range(len(matrix)):
  matrix[v][(len(matrix)-1-v)],matrix[v][v] =matrix[v][v],matrix[v][(len(matrix)-1-v)]
print(matrix)

[[3, 2, 1], [4, 5, 6], [9, 8, 7]]

In [ ]:
#checking if a no is present in a list with any function
t=[1,2,3,4,5,6,7,8,9]
r=any(1 in t for item in t)
r

False

In [ ]:
#rotating an array
l=[1,2,3,4,5]
l1=l[:len(l)-2:-1]+l[:len(l)-1]
l1

[5, 1, 2, 3, 4]

In [ ]:
#Python Counter to find the size of largest subset of anagram words
import collections
defd = collections.defaultdict(lambda : 'Key Not found')
defd['a'],defd['b']=1,2
print ("The value associated with 'a' is : ",end="")
print (defd['a'])
print ("The value associated with 'c' is : ",end="")
print (defd['c'])

The value associated with 'a' is : 1
The value associated with 'c' is : Key Not found

In [1]:
# Least Frequent Character in String

test_str = "GeeksforGeeks"
print ("The original string is : " + test_str)

all_freq = {}
for i in test_str:
  if i in all_freq:
    all_freq[i] += 1
  else:
    all_freq[i] = 1
    res = min(all_freq, key = all_freq.get)

print ("The minimum of all characters in GeeksforGeeks is : " + str(res))

The original string is : GeeksforGeeks
The minimum of all characters in GeeksforGeeks is : G

In [2]:
def check(string):
	p = set(string)
	s = {'0', '1'}
	if s == p or p == {'0'} or p == {'1'}:
		print("Yes")
	else:
		print("No")

if __name__ == "__main__":
	string = "101010000111"
	check(string)

Yes

In [3]:
def Find(string):
	x=string.split()
	res=[]
	for i in x:
		if i.startswith("https:") or i.startswith("http:"):
			res.append(i)
	return res

string = 'My Profile: https://auth.geeksforgeeks.org/user/Chinmoy%20Lenka/articles in the portal of https://www.geeksforgeeks.org/'
print("Urls: ", Find(string))

Urls:  ['https://auth.geeksforgeeks.org/user/Chinmoy%20Lenka/articles', 'https://www.geeksforgeeks.org/']

In [4]:
def rotate(input,d):

    Lfirst = input[0 : d]
    Lsecond = input[d :]
    Rfirst = input[0 : len(input)-d]
    Rsecond = input[len(input)-d : ]
    print ("Left Rotation : ", (Lsecond + Lfirst) )
    print ("Right Rotation : ", (Rsecond + Rfirst))

if __name__ == "__main__":
    input = 'hamzaihsan'
    d=2
    rotate(input,d)

Left Rotation :  mzaihsanha
Right Rotation :  anhamzaihs

In [5]:
test_dict = {'gfg': [5, 6, 7, 8],
             'is': [10, 11, 7, 5],
             'best': [6, 12, 10, 8],
             'for': [1, 2, 5]}
print("The original dictionary is : " + str(test_dict))
res = list(sorted({ele for val in test_dict.values() for ele in val}))
print("The unique values list is : " + str(res))

The original dictionary is : {'gfg': [5, 6, 7, 8], 'is': [10, 11, 7, 5], 'best': [6, 12, 10, 8], 'for': [1, 2, 5]}
The unique values list is : [1, 2, 5, 6, 7, 8, 10, 11, 12]

In [7]:
test_dict = {'rolo' : [5, 6, 7, 8],
            'is' : [10, 11, 7, 5],
            'best' : [6, 12, 10, 8],
            'for' : [1, 2, 5]}
print("The original dictionary is : " + str(test_dict))
x=list(test_dict.values())
y=[]
res=[]
for i in x:
    y.extend(i)
for i in y:
    if i not in res:
        res.append(i)
res.sort()
print("The unique values list is : " + str(res))

The original dictionary is : {'rolo': [5, 6, 7, 8], 'is': [10, 11, 7, 5], 'best': [6, 12, 10, 8], 'for': [1, 2, 5]}
The unique values list is : [1, 2, 5, 6, 7, 8, 10, 11, 12]

In [8]:
from collections import Counter
test_dict = {'gfg': [5, 6, 7, 8],
             'is': [10, 11, 7, 5],
             'best': [6, 12, 10, 8],
             'for': [1, 2, 5]}
print("The original dictionary is : " + str(test_dict))
valuesList = []
for key, values in test_dict.items():
    for value in values:
        valuesList.append(value)
freq = Counter(valuesList)
uniqueValues = list(freq.keys())
uniqueValues.sort()
print("The unique values list is : " + str(uniqueValues))

The original dictionary is : {'gfg': [5, 6, 7, 8], 'is': [10, 11, 7, 5], 'best': [6, 12, 10, 8], 'for': [1, 2, 5]}
The unique values list is : [1, 2, 5, 6, 7, 8, 10, 11, 12]

In [9]:
def returnSum(myDict):

    list = []
    for i in myDict:
        list.append(myDict[i])
    final = sum(list)

    return final

dict = {'a': 100, 'b': 200, 'c': 300}
print("Sum :", returnSum(dict))

Sum : 600

In [11]:
test_dict = {'rolo' : [5, 6, 7, 8],
'is' : [10, 11, 7, 5],
'best' : [6, 12, 10, 8],
'for' : [1, 2, 5]}
print("The original dictionary is : " + str(test_dict))
result = list(set(sum(test_dict.values(), [])))

print("The unique values list is : " + str(result))

The original dictionary is : {'rolo': [5, 6, 7, 8], 'is': [10, 11, 7, 5], 'best': [6, 12, 10, 8], 'for': [1, 2, 5]}
The unique values list is : [1, 2, 5, 6, 7, 8, 10, 11, 12]

In [12]:
def returnSum(dict):
    sum = 0
    for i in dict:
        sum = sum + dict[i]
    return sum
dict = {'a': 100, 'b': 200, 'c': 300}
print("Sum :", returnSum(dict))

Sum : 600

In [13]:
def returnSum(dict):
    return sum(dict.values())
dict = {'a': 100, 'b': 200, 'c': 300}
print("Sum :", returnSum(dict))

Sum : 600

In [15]:
test_dict = {"Arushi": 22, "Mani": 21, "Haritha": 21}
print("The dictionary before performing remove is : ", test_dict)
del test_dict['Mani']
print("The dictionary after remove is : ", test_dict)

The dictionary before performing remove is :  {'Arushi': 22, 'Mani': 21, 'Haritha': 21}
The dictionary after remove is :  {'Arushi': 22, 'Haritha': 21}

In [19]:
test_dict = {"Arushi": 22, "Anuradha": 21,
             "Mani": 21, "Haritha": 21}
print("The dictionary before performing\
remove is : " + str(test_dict))
new_dict = {key: val for key,
            val in test_dict.items() if key != 'Mani'}
print("The dictionary after remove is : " + str(new_dict))

The dictionary before performingremove is : {'Arushi': 22, 'Anuradha': 21, 'Mani': 21, 'Haritha': 21}
The dictionary after remove is : {'Arushi': 22, 'Anuradha': 21, 'Haritha': 21}

In [20]:
test_dict = {"Arushi": 22, "Anuradha": 21, "Mani": 21, "Haritha": 21}
print("The dictionary before performing remove is : \n" + str(test_dict))

a_dict = {key: test_dict[key] for key in test_dict if key != 'Mani'}

print("The dictionary after performing remove is : \n", a_dict)

The dictionary before performing remove is :
{'Arushi': 22, 'Anuradha': 21, 'Mani': 21, 'Haritha': 21}
The dictionary after performing remove is :
 {'Arushi': 22, 'Anuradha': 21, 'Haritha': 21}

In [22]:
from itertools import product
test_dict = {'month' : [1, 2, 3],
             'name' : ['Jan', 'Feb', 'March']}
print("The original dictionary is : " + str(test_dict))

print("Flattened dictionary : " + str(res))

The original dictionary is : {'month': [1, 2, 3], 'name': ['Jan', 'Feb', 'March']}
Flattened dictionary : [1, 2, 5, 6, 7, 8, 10, 11, 12]

In [25]:

test_dict = {'month': [1, 2, 3], 'name': ['Jan', 'Feb', 'March']}
res = {test_dict['month'][i]: test_dict['name'][i] for i in range(len(test_dict['month']))}
print("Flattened dictionary:", res)

Flattened dictionary: {1: 'Jan', 2: 'Feb', 3: 'March'}

In [26]:
from collections import OrderedDict

def checkOrder(input, pattern):
	dict = OrderedDict.fromkeys(input)
	ptrlen = 0
	for key,value in dict.items():
		if (key == pattern[ptrlen]):
			ptrlen = ptrlen + 1

		if (ptrlen == (len(pattern))):
			return 'true'
	return 'false'

if __name__ == "__main__":
	input = 'engineers rock'
	pattern = 'er'
	print (checkOrder(input,pattern))

true

In [27]:

def check_order(string, pattern):
    i, j = 0, 0
    for char in string:
        if char == pattern[j]:
            j += 1
        if j == len(pattern):
            return True
        i += 1

    return False
string = 'engineers rock'
pattern = 'er'
print(check_order(string, pattern))

True

In [28]:
from collections import Counter

votes =['john','johnny','jackie','johnny','john','jackie',
    'jamie','jamie','john','johnny','jamie','johnny','john']
vote_count=Counter(votes)
max_votes=max(vote_count.values())
lst=[i for i in vote_count.keys() if vote_count[i]==max_votes]
print(sorted(lst)[0])

john

In [29]:
Tuple1 = ()
print("Initial empty Tuple: ")
print(Tuple1)
Tuple1 = ('Geeks', 'For')
print("\nTuple with the use of String: ")
print(Tuple1)
list1 = [1, 2, 4, 5, 6]
print("\nTuple using List: ")
print(tuple(list1))
Tuple1 = tuple('Geeks')
print("\nTuple with the use of function: ")
print(Tuple1)

Initial empty Tuple:
()

Tuple with the use of String:
('Geeks', 'For')

Tuple using List:
(1, 2, 4, 5, 6)

Tuple with the use of function:
('G', 'e', 'e', 'k', 's')

In [30]:
Tuple1 = tuple("Geeks")
print("\nFirst element of Tuple: ")
print(Tuple1[0])
Tuple1 = ("Geeks", "For", "Geeks")
a, b, c = Tuple1
print("\nValues after unpacking: ")
print(a)
print(b)
print(c)

First element of Tuple:
G

Values after unpacking:
Geeks
For
Geeks

In [31]:

Tuple1 = (0, 1, 2, 3)
Tuple2 = ('Geeks', 'For', 'Geeks')

Tuple3 = Tuple1 + Tuple2
print("Tuple 1: ")
print(Tuple1)
print("\nTuple2: ")
print(Tuple2)
print("\nTuples after Concatenation: ")
print(Tuple3)

Tuple 1:
(0, 1, 2, 3)

Tuple2:
('Geeks', 'For', 'Geeks')

Tuples after Concatenation:
(0, 1, 2, 3, 'Geeks', 'For', 'Geeks')

In [32]:

Tuple1 = tuple('GEEKSFORGEEKS')
print("Removal of First Element: ")
print(Tuple1[1:])
print("\nTuple after sequence of Element is reversed: ")
print(Tuple1[::-1])
print("\nPrinting elements between Range 4-9: ")
print(Tuple1[4:9])

Removal of First Element:
('E', 'E', 'K', 'S', 'F', 'O', 'R', 'G', 'E', 'E', 'K', 'S')

Tuple after sequence of Element is reversed:
('S', 'K', 'E', 'E', 'G', 'R', 'O', 'F', 'S', 'K', 'E', 'E', 'G')

Printing elements between Range 4-9:
('S', 'F', 'O', 'R', 'G')

In [ ]:

Tuple1 = (0, 1, 2, 3, 4)
del Tuple1

print(Tuple1)

In [33]:
def Reverse(tuples):
    new_tup = tuples[::-1]
    return new_tup

tuples = ('z','a','d','f','g','e','e','k')
print(Reverse(tuples))

('k', 'e', 'e', 'g', 'f', 'd', 'a', 'z')

In [35]:
def Reverse(tuples):
    new_tup = ()
    for k in reversed(tuples):
        new_tup = new_tup + (k,)
    return new_tup
tuples = (10, 11, 12, 13, 14, 15)
Reverse(tuples)

(15, 14, 13, 12, 11, 10)

In [ ]:
def reverse_tuple(t):
    new_tuple = ()
    for i in range(len(t)-1, -1, -1):
        new_tuple += (t[i],)
    return new_tuple

tuples = ('z','a','d','f','g','e','e','k')
print(reverse_tuple(tuples))

In [ ]:

tuples = ('z', 'a', 'd', 'f', 'g', 'e', 'e', 'k')
rev_string = ''.join(tuples)[::-1]
rev_tuples = tuple(rev_string)
print(rev_tuples)

In [36]:
def Convert(tup, di):
    for a, b in tup:
        di.setdefault(a, []).append(b)
    return di
tups = [("akash", 10), ("gaurav", 12), ("anand", 14),
        ("suraj", 20), ("akhil", 25), ("ashish", 30)]
dictionary = {}
print(Convert(tups, dictionary))

{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}

In [39]:

tups = [("akash", 10), ("gaurav", 12), ("anand", 14),
        ("suraj", 20), ("akhil", 25), ("ashish", 30)]
dictionary = {}
for key, val in tups:
    dictionary.setdefault(key, val)
print(dictionary)

{'akash': 10, 'gaurav': 12, 'anand': 14, 'suraj': 20, 'akhil': 25, 'ashish': 30}

In [40]:
def Sort(tup):
    return(sorted(tup, key = lambda x: float(x[1]), reverse = True))
tup = [('lucky', '18.265'), ('nikhil', '14.107'), ('akash', '24.541'),
    ('anand', '4.256'), ('gaurav', '10.365')]
print(Sort(tup))

[('akash', '24.541'), ('lucky', '18.265'), ('nikhil', '14.107'), ('gaurav', '10.365'), ('anand', '4.256')]

In [41]:
set1 = set([1, 2, 4, 4, 3, 3, 3, 6, 5])
print("\nSet with the use of Numbers: ")
print(set1)
set1 = set([1, 2, 'Geeks', 4, 'For', 6, 'Geeks'])
print("\nSet with the use of Mixed Values")
print(set1)

Set with the use of Numbers:
{1, 2, 3, 4, 5, 6}

Set with the use of Mixed Values
{1, 2, 4, 6, 'Geeks', 'For'}

In [42]:
my_set = {1, 2, 3}

print(my_set)

{1, 2, 3}

In [43]:
set1 = set()
print("Initial blank Set: ")
print(set1)

set1.add(8)
set1.add(9)
set1.add((6, 7))
print("\nSet after Addition of Three elements: ")
print(set1)
for i in range(1, 6):
    set1.add(i)
print("\nSet after Addition of elements from 1-5: ")
print(set1)

Initial blank Set:
set()

Set after Addition of Three elements:
{8, 9, (6, 7)}

Set after Addition of elements from 1-5:
{1, 2, 3, 4, 5, 8, 9, (6, 7)}

In [44]:
set1 = set([4, 5, (6, 7)])
set1.update([10, 11])
print("\nSet after Addition of elements using Update: ")
print(set1)

Set after Addition of elements using Update:
{4, 5, 10, 11, (6, 7)}

In [45]:
set1 = set([1, 2, 3, 4, 5, 6,
            7, 8, 9, 10, 11, 12])
print("Initial Set: ")
print(set1)
set1.pop()
print("\nSet after popping an element: ")
print(set1)

Initial Set:
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

Set after popping an element:
{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [46]:
String = ('G', 'e', 'e', 'k', 's', 'F', 'o', 'r')

Fset1 = frozenset(String)
print("The FrozenSet is: ")
print(Fset1)
print("\nEmpty FrozenSet: ")
print(frozenset())

The FrozenSet is:
frozenset({'e', 'o', 's', 'r', 'F', 'k', 'G'})

Empty FrozenSet:
frozenset()